
@{
var concepto = Request.QueryString["concepto"].ToString();   
var id = Request.QueryString["id"];
var con = Database.Open("disco");
var exec = "";
switch(concepto){
    case "borrar":
        exec = String.Format("delete from Producto where id={0};", id); con.Execute(exec);
        exec = String.Format("delete from Grabaciones where Id_producto={0}", id); con.Execute(exec);
        var dir = new DirectoryInfo(Server.MapPath("/Producto/").ToString() + Request.QueryString["titulo"].ToString() + id.ToString());
        dir.Delete(true);
        //exec = String.Format("delete from Producto, Grabaciones where Producto.id={0} and Id", id);
    break;

    case "calificar":
        float actual = Convert.ToSingle(Request.QueryString["calificacion"]);
        float previo = Convert.ToSingle(con.QuerySingle(String.Format("select Estrellas from Producto where id={0}", id)).Estrellas);
        float resultado = 0;
        if(previo == 0){

            resultado = actual;
            
        }else{
            
            resultado = (float)((actual + previo)/2.0);

        }
       
        exec = String.Format("update Producto set Estrellas = {0} where id={1}", resultado, id); con.Execute(exec);
    break;

    case "actualizar":
        var query = String.Format("select * from Grabaciones where Id_producto={0}", id);
        var result = con.Query(query);
        foreach(var valor in result){
            
            <div name="grabaciones">@valor.Titulo</div>

        }
        
    break;

    case "subscribir":
        var email = Request.QueryString["email"].ToString();
        var fecha = DateTime.Now;
        var date = Convert.ToInt64(fecha.Year.ToString() + fecha.Month.ToString() + fecha.Day.ToString());
        con.Execute(String.Format("insert into Suscritos(Fecha, Email)values({0}, '{1}')", date, email));
        
    break;

}

//if(exec!=""){ con.Execute(exec); }
con.Close();
//<text>@id</text>
}
 
